:root {
  --orange: #ff6c00;
  --white: #ffffff;
  --light-black: #9da4bd;
  --black: #303030;
  --primary-font: "Open sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: var(--primary-font);
}

/* Header section style */

.header {
  padding-top: 30px;
  margin-bottom: -86px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-color: var(--white);
}

.header__navigation ul {
  display: flex;
  gap: 40px;
}

.header__navigation a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
}

.header__navigation a:hover {
  color: var(--orange);
}

.header__info a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
}

.button {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 24px;
  border: 1px solid var(--orange);
  border-radius: 25px;
  cursor: pointer;
}

.button:hover {
  color: var(--white);
  background-color: var(--orange);
}

.button:focus {
  color: var(--white);
  background-color: var(--orange);
}

/* Hero section style */

/* background: rgba(25, 28, 38, 0.2);
 */

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg-services-section.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hero-section__subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  color: var(--light-black);
  margin-bottom: 20px;
}

.hero-section__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--light-black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.hero-section__title {
  font-family: var(--secondary-font);
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: var(--white);
  margin-bottom: 20px;
}

.hero-section__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--light-black);
}

.hero-section__subtitle {
  text-transform: uppercase;
}

/* About section style */

.about {
  margin-top: 130px;
  margin-bottom: 130px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__subtitle {
  font-size: 11px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 14px;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.about__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.about__images {
  display: flex;
  flex: 1;
  gap: 30px;
}

.about__info {
  flex: 1;
}
.about__image {
  width: 270px;
  height: 445px;
}

.about__title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  color: var(--black);
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}

.about__text {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 30px;
  color: var(--black);
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}

.about__text-smaller {
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 26px;
  color: var(--black);
  /* margin-bottom: 20px; - de verificat de ce nu se suprapun */
  letter-spacing: 0.02em;
}

.about__button {
  margin-top: 40px;
  color: var(--black);
}

/* Services section style */
.services {
  background-color: var(--black);
  background-image: linear-gradient(
      0deg,
      rgba(25, 28, 38, 0.3),
      rgba(25, 28, 38, 0.8)
    ),
    url(../img/bg-services-section.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-black);
  padding-top: 130px;
  padding-bottom: 130px;
}

/* .services .container {
  display: flex; - !NU ma ajuta
} */

.service__container {
  display: flex;
}

.services__subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  color: var(--light-black);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--light-black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.services__title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  color: var(--white);
  margin-bottom: 46px;
}

.services__list {
  padding: 28px 38px;
  flex: 1;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services__item {
}

.services__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.services__button {
  margin-top: 48px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--orange);
}

.services__button:hover {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
}

.services__button:focus {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
}

/* Statistics section style */

.statistics .container {
  display: flex;
  gap: 64px;
  padding: 180px 0;
}

.statistics__list {
  flex: 1;
}

.statistics__item {
  background-color: #f7f7f7;
}

.statistics__value {
  font-size: 42px;
  font-weight: 700;
  color: var(--black);
}

.statistics__value sup {
  font-size: 16px;
  font-weight: 600;
  color: var(--orange);
}

.statistics__description {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
}

.statistics__subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
}

.statistics__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.statistics__title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.statistics__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.statistics__testimonial {
  flex: 1;
}

/* Barbers section style */
.barbers {
  background-color: #f7f7f7;
  padding: 180px 0;
}

.barbers__container {
  display: flex;
  gap: 30px;
  text-align: center;
}

.barbers__subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  color: var(--light-black);
  text-transform: uppercase;
}

.barbers__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--light-black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.barbers__title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 44px;
}

.barbers__card {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(49, 39, 245, 0.7);
  color: var(--white);
  transition-duration: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.barbers__card:hover .overlay {
  transform: translateY(0);
}

.barbers__card:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.barbers__name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 8px;
}

.barbers__role {
  font-size: 14px;
  font-weight: 400;
  color: var(--orange);
}

.barbers__social {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.barbers__social li {
  background-color: var(--white);
  padding: 12px;
  border-radius: 100px;
}

.barbers__social li:hover .icon {
  fill: var(--orange);
}

/* Place section style */
.place {
  margin: 180px 0;
  color: var(--black);
}

.place__images {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.place__subtitle {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 44px;
}

.place__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

/* Contact section style */

.contact {
  color: var(--white);
  display: flex;
}

.contanct__form {
  padding-top: 180px;
  padding-bottom: 180px;

  flex: 1;
  background-color: var(--black);
}

.contact__info {
  padding-top: 180px;
  padding-bottom: 180px;
  padding-left: 100px;
  flex: 1;
  background-color: red;
  background-color: var(--black);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.9),
      rgba(25, 28, 38, 0.9)
    ),
    url(../img/bg-services-section.jpeg);
}

.contact__title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  color: var(--white);
  margin-bottom: 40px;
}

.contact__subtitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}

.contact__subtitle::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--light-black);
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.contact__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--white);
  margin-top: 20px;
}

.contact__address-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact__address-item a {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--white);
  text-decoration: none;
}

/* Footer section style */
.footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__social-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  width: 20px;
  height: 20px;
}
